

{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
    {% block navbar %}
        {%
        set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
        ]
        %}
        <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
            {% if not navbar_attributes.hasClass('container') %}
            <div class="container">
                {% endif %}
                <div class="navbar-header">
                    {{ page.navigation }}

                    {# .btn-navbar is used as the toggle for collapsed navbar content #}
                    {% if page.navigation_collapsible %}
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    {% endif %}
                </div>

                {# Navigation (collapsible) #}
                {% if page.navigation_collapsible %}
                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        {{ page.navigation_collapsible }}
                    </div>
                {% endif %}
                {% if not navbar_attributes.hasClass('container') %}
            </div>
            {% endif %}
        </header>
    {% endblock %}
{% endif %}

<div class="strap-container">
    <div class="col-md-12 col-xs-12">
        <div class="strap-blue">
        </div>
        <div class="strap-white">
        </div>
        <div class="strap-red">
        </div>
    </div>
</div>

{# Main #}
{% block main %}
    <div class="container-fluid mainView">
        <div role="main" class="main-container container-fluid js-quickedit-main-content">
            <div class="row">

                {# Header #}
                {% if page.header %}
                    {% block header %}
                        <div class="search-wrapper">
                            <div class="row searchBoxFullContainer">
                                <div>
                                    <div class="input-group col-lg-6 col-sm-12 searchBoxInputContainer col-lg-offset-2">
                                        {{ page.header }}
                                    </div>
                                    {#<div class="col-sm-12" role="heading">#}

                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}

                {# Sidebar First #}
                {% if page.sidebar_first %}
                    {% block sidebar_first %}
                        <aside class="col-sm-3" role="complementary">
                            <div class="well region region-sidebar-first">
                                {{ page.sidebar_first }}
                            </div>
                        </aside>
                    {% endblock %}
                {% endif %}

                {# Content #}
                {%
                set content_classes = [
                page.sidebar_first and page.sidebar_second ? 'col-sm-6',
                page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
                page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
                page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
                ]
                %}
                <section{{ content_attributes.addClass(content_classes) }}>

                    {# Highlighted #}
                    {% if page.highlighted %}
                        {% block highlighted %}
                            <div class="highlighted">{{ page.highlighted }}</div>
                        {% endblock %}
                    {% endif %}

                    {# Breadcrumbs #}
                    {% if breadcrumb %}
                        {% block breadcrumb %}
                            {{ breadcrumb }}
                        {% endblock %}
                    {% endif %}

                    {# Action Links #}
                    {% if action_links %}
                        {% block action_links %}
                            <ul class="action-links">{{ action_links }}</ul>
                        {% endblock %}
                    {% endif %}

                    {# Help #}
                    {% if page.help %}
                        {% block help %}
                            {{ page.help }}
                        {% endblock %}
                    {% endif %}

                    {# Content #}
                    {% block content %}
                        <a id="main-content"></a>
			{{ tabs }}
  			{{ page.content }}
                    {% endblock %}
                </section>

                {# Sidebar Second #}
                {% if page.sidebar_second %}
                    {% block sidebar_second %}
                        <aside class="col-sm-3" role="complementary">
                            {{ page.sidebar_second }}
                        </aside>
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% if page.footer %}
    {% block footer %}
        <div class="navbar navbar-fixed-bottom hidden-xs" id="ga-footer-rights">
            <ul>
                <li><a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank"><img src="/{{ directory }}/images/by.png" alt="Creative Commons Logo" width="88"></a></li>
                <li><a href="http://www.ga.gov.au/copyright">Copyright</a></li>
                <li><a href="http://www.ga.gov.au/disclaimer">Disclaimer</a></li>
                <li><a href="http://www.ga.gov.au/privacy">Privacy</a></li>
                <li><a href="http://www.ga.gov.au/accessibility">Accessibility</a></li>
                <li><a href="http://www.ga.gov.au/sitemap">Sitemap</a></li>
                <li><a href="http://www.ga.gov.au/ips">Information Publication Scheme</a></li>
                <li><a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a></li>
                <a href="http://www.ga.gov.au/contact-us" class="btn btn-primary searchRelatedButton" style="border-top: none;">Contact us <span class="glyphicon glyphicon-menu-right"></span></a>
            </ul>
        </div>
        <div class="visible-xs footer-sm">
            <ul>
                <li><a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank"><img src="/{{ directory }}/images/by.png" alt="Creative Commons Logo" width="88"></a></li>
                <li><a href="http://www.ga.gov.au/copyright">Copyright</a></li>
                <li><a href="http://www.ga.gov.au/disclaimer">Disclaimer</a></li>
                <li><a href="http://www.ga.gov.au/privacy">Privacy</a></li>
                <li><a href="http://www.ga.gov.au/accessibility">Accessibility</a></li>
                <li><a href="http://www.ga.gov.au/sitemap">Sitemap</a></li>
                <li><a href="http://www.ga.gov.au/ips">Information Publication Scheme</a></li>
                <li><a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a></li>
                <a href="http://www.ga.gov.au/contact-us" class="btn btn-primary searchRelatedButton" style="border-top: none;">Contact us <span class="glyphicon glyphicon-menu-right"></span></a></p>
            </ul>
        </div>
    {% endblock %}
{% endif %}


